# Ignore quarto outputs
*.html

# Ignore some standard data formats
*.csv
*.xlsx
*.ods

# Ignore some general output formats
*.html
*.pptx
*.odp
*.odj

# Ignore some general report formats
*.docx
*.pdf
*.odt
.Rproj.user
